section {
    text-align: center;
    margin-top: 2em;
}

#submitbutton {
    padding: 10px;
    border: 2px solid Black;
    color: white;
    background-color: #4b4099;
}

.adj {
    display: inline-block;
}